.wrappertabs {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
}

.tabs {
    position: relative;
    margin: 3rem 0;
    background: #ffffff00;
    height: 14.75rem;
    border-radius: 10px;
}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    float: left;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    border-radius: 10px 10px 0px 0;
    padding: 0 1.618em;
    background: rgb(0, 177, 177);
    border-right: 0.125rem solid #b5ebe3;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.6s;
}

.tab-label:hover {
    top: -0.25rem;
    transition: top 0.6s;
}

.tab-content {
    box-shadow: 2vh 2vh 3vh rgba(0, 7, 72, 0.3);
    border-radius: 0 10px 10px 10px;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #ffffff;
    color: #000000;
    opacity: 0;
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.tab-content:hover {
    box-shadow: 2vh 2vh 3vh #b5ebe3;
}

.tab-switch:checked+.tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.6s;
    z-index: 1;
    top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.6s;
}

h4 {
    margin: 0px;
}

.inputbutton {
    width: 100%;
    display: flex;
    justify-content: right;
}

.subm {
    display: flex;
    justify-content: right;
    border-radius: 20px;
    border: 1px solid #b5ebe3;
    background-color: #b5ebe3;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 8px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    transition: 0.6s;
}

.subm:hover {
    background-color: rgb(0, 177, 177);
}